.profile-container {
    text-align: center;
    margin-top: 50px;
}
input {
    margin: 20px;
    display: none;
}
label {
    background-color: yellowgreen;
    padding: 6px 12px; 
    /* 첫 번째 설정 두 번째 설정(첫 번째 설정 * 2)*/
    color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer; /* 손가락으로 가리키는 모양*/

}

label:hover{
    background-color: rgb(94, 126, 31);
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #ddd;
    padding: 5px;
    margin-top: 20px;
}