.tic-tap-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 100px); /* 한줄에 3개씩 보이게*/
    grid-gap: 10px; /* 숫자블록간의 간격 (격자에 틈을 위아래로 준것)*/
    justify-content: center;
  }

  .ttt-two-grid {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-gap: 10px;
    justify-content: center;
  }
  
  
  .number-button {
    width: 100px;
    height: 100px;
    font-size: 24px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.1s ease, box-shadow 0.3s ease;
  }
  
  .number-button:hover {
    background-color: #45a049;
  }
  
  .number-button:active {
    background-color: #3e8e41;
    transform: scale(0.95);
    box-shadow: 0 5px #666;
  }
  
  .message {
    font-size: 18px;
    color: #333;
    margin-top: 20px;
  }
  .restart-button,
  .nextStep-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
  .restart-button:hover {
    background-color: #e53935;
  }

