/*index.js 에 root로 작성된 id style*/
#root{
  padding: 15px;
}

.signup-wrapper{
  position: relative;
}

.signup-container{
  position: absolute;
  width: 300px;
  padding: 10px;
  background-color: white;
  border: 3px solid #ccc;
}
.signup-container > label {
  display: flex;
  justify-content: center;
  padding: 5px 0;
}
.signup-container > label > input {
  flex-basis: 65%;
}
.signup-container button {
  width: 100%;
}
.id-err {
  color: red;
  font-weight: bold;
}